/* Global font */
body {
  font-family: 'Aptos';   
  font-size: 11px;
  line-height: 1.5;
  color: #111;
  margin: 0;
  padding: 0;
  background-color: #fff;
}


/* Text changes depending on resoultion (device used) */
@media (max-width: 600px) {
  body {
    font-size: 11px;
  }
}

body {
  background-color: #f0f0f0; /* replace with your desired color */
}
